[Unit]
Description="PiTank Client service"
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/pitank-client-arm

[Install]
WantedBy=multi-user.target